@import '../common-imports';

.call-to-action-03 {
    .card-wrapper {
        border-radius: rem(19px);
        box-shadow: 0 2px 18px 0 rgba(163, 163, 183, 0.26);
    }
    &__card {
        margin-bottom: rem(30px);
        padding-bottom: rem(30px);
        border-bottom: 1px solid $gray-600;
        @include media-breakpoint-up(md) {
            margin-bottom: rem(40px);
            padding-bottom: rem(35px);
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: rem(50px);
            padding-bottom: rem(50px);
        }
        &:last-child {
            border-bottom: none;
            margin-bottom: rem(0px);
            padding-bottom: rem(0px);
        }
        .btn {
            padding: rem(12px 35px);
            line-height: rem(18px);
            @include media-breakpoint-up(md) {
                font-size: rem(20px);
                line-height: rem(18px);
            }
            @include media-breakpoint-up(xl) {
                font-size: rem(24px);
                line-height: rem(21.6px);
            }
        }
    }
}
