@import '../common-imports';

.leadspace-services {
    padding: rem(95px 0 40px);
    @include media-breakpoint-up(md) {
        padding: rem(140px 0 50px);
    }
    @include media-breakpoint-up(xl) {
        padding: rem(245px 0 120px);
    }
    &__content {
        p {
            margin-bottom: rem(25px);
            @include media-breakpoint-up(md) {
                margin-bottom: rem(25px);
            }
            &:last-child {
                margin-bottom: rem(0px);
            }
        }
    }

    &__thumb {
        margin-left: rem(-30px);
        width: rem(208px);
        @include media-breakpoint-up(xl) {
            margin-left: rem(0px);
            width: auto;
        }
        img {
            width: 100%;
            @include media-breakpoint-up(xl) {
                width: auto;
            }
        }
    }
}
