@import '../common-imports';

.single-career-content {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    p {
        margin-bottom: rem(30px);
        &:last-child {
            margin-bottom: rem(40px);
        }
    }
}

.call-to-action-03 {
    padding: rem(35px 0 30px) !important;
    @include media-breakpoint-up(md) {
        padding: rem(40px 0) !important;
    }
    @include media-breakpoint-up(xl) {
        padding: rem(55px 0) !important;
    }
}

.theme-footer {
    background-color: $white;
    z-index: 9;
}
