.pagination {
    ul {
        display: flex;
        justify-content: center;
        li {
            display: flex;
            align-items: center;

            span {
                padding: rem(5px 10px);
                font-size: rem(20px);
                line-height: rem(24px);
                &.current {
                    font-weight: bold;
                    border: none;
                    background: none;
                    color: $primary;
                }
            }
    
            a {
                @extend .h5;
                border: none;
                margin: 0;
                padding: rem(5px 10px);
                font-size: rem(20px);
                line-height: rem(24px);
        
                &.prev {
                    i {
                        font-size: 12px;
                        transform: rotate(90deg);
                        transform-origin: center center;
                        display: inline-block;
                        color: $blue;
                    }
                }
                &.next {
                    i {
                        font-size: 12px;
                        transform: rotate(-90deg);
                        transform-origin: center center;
                        display: inline-block;
                        color: $blue;
                    }
                }
                &:hover {
                    background: none;
                }
            }
        }
    }
}

